* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: radial-gradient(circle, white, black);
}

.main-header,
.search-bar {
  text-align: center;
}

.main-header {
  color: white;
  font-family: 'Lobster', cursive;
  letter-spacing: .2em;
}

.search-bar {
  margin: 25px 0;
}

input,
input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input {
  padding-left: 10px;
  width: 70%;
  height: 35px;
  max-width: 360px;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  font-size: .8em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto 30px;
}

.item {
  margin: 15px;
}

.item img {
  border-radius: 8px;
}

.item img:hover {
  cursor: pointer;
}


/* **********  lightGallery plugin modifications  ********** */

.lg-sub-html {
  font-family: 'Open Sans', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  bottom: 80px;
}

.lg-thumb-outer .lg-toogle-thumb {
  display: none;
}



/* **********  media queries  ********** */

@media (min-width: 468px) {
  .flex-container {
    max-width: 468px;
  }

  .lg-outer .lg-image {
    width: 70%!important;
    max-width: 800px;
  }
}

@media (min-width: 705px) {
  .flex-container {
    max-width: 705px;
  }
}

@media (min-width: 950px) {
  .flex-container {
    max-width: 950px;
  }
}
